@model BugTrackerVS_16.Models.AssignUserToRoleViewModel

@{
    Layout = "~/Views/Shared/_BNewLayout.cshtml";

}
<link href="~/Scripts/lou-multi-select-a0f48de/css/multi-select.css" rel="stylesheet" />
<a href="~/Scripts/lou-multi-select-a0f48de/css/multi-select.dev.css.map"></a>

<h2>Add/Remove User </h2>

<section class="content-wrap ecommerce-products">

    <div class="card">

        <div class="title">
            <!-- Title -->
            <h4>Change <strong>@Model.Name</strong> Role</h4>
        </div>

        <div class="content">

            @using (Html.BeginForm("AssignUserToRole", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.ListBox("SelectedRoles", Model.Roles)
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>

                </div>
            }
        </div>
    </div>

</section>


@section scripts
{
    <script src="~/Scripts/lou-multi-select-a0f48de/js/jquery.multi-select.js"></script>
    <script>
        $(document).ready(function () {
            $('select').multiSelect({
                selectionHeader: "Add To Role",
                selectableHeader: "Remove From Role"
            });
        })
    </script>

}


