@model IEnumerable<BugTrackerVS_16.Models.RoleViewModel>

@{
    Layout = "~/Views/Shared/_BNewLayout.cshtml";

}


        <div class="title">

            <!-- Title -->
            <h3>Edit User Roles </h3>
        </div><!-- /title -->

       

            <table class="table table-striped table-bordered" id="dataTable">

                <thead>
                    <tr>
                        <th>Users</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Users.FirstName</td>
                            <td>
                                @foreach (var roles in user.Roles)
                                {

                                    <p>@roles</p>

                                }
                            </td>                      
                            <td>
                                <a href="@Url.Action("AssignUserToRole", "Admin", new { id = user.Users.Id })" class="btn btn-primary">Assign Role</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table><!-- /table -->

<!--DataTables-->
@section scripts{

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->


    <script>
	$(function()	{
		$('#dataTable').dataTable();
	});
    </script>
}
