@model IEnumerable<BugTrackerVS_16.Models.ProjectsViewModel>
@{
    ViewBag.Title = "ProjectView";
}

<h2>Project Assigned to</h2>

<p>
    <a href="@Url.Action("Create","Tickets")" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Projects
        </th>
        <th>
            @Html.DisplayName("User")
        </th>


    </tr>

    @foreach (var view in Model)
    {

        <tr>
            <td>
                @view.projects.Name
            </td>

            <td>
                @view.
            </td>
        </tr>

    }

</table>
